.THIS {
    margin: 55px;
}
.THIS .canvasWidth{
    width : 80%;
}

.THIS .headerDivsion{
    margin:50px;
}

.THIS .spinnerDiv {
    position: fixed !important;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.THIS .slds-spinner_container{
    position: fixed !important;
}
.THIS .forceChatterBasePublisher :not(.PHONE) .cuf-content{
    padding: 0;
}

.THIS .header {
    text-align: center;
    margin: 50px auto;
}

.THIS .image-header {
    width: 240px;
}

.THIS .image-header-thanks {
        width: 240px;
}

.THIS .header-text {
    margin: 10px;
    font-style: italic;
    color: rgba(17, 17, 17, 0.9);
    font-size: 12px;
}
.THIS .header-text-thanks {
    margin: 12px;
    font-style: italic;
    color: rgba(17, 17, 17, 0.9);
    font-size: 16px;
}

.THIS .text-thanks {
    margin: 0 10px;
        font-size: 18px;
}

.THIS .header-text-policy {
    margin: 10px;
    font-weight: bold;
    color: rgba(17, 17, 17, 0.9);
}

.THIS .header-logo-privacy {
    max-width: 180px;
    padding-bottom: 10px;
    margin: auto;
}

.THIS .row {
	margin: 10px 0;
}

/* .THIS .slds-form-element__control {
        padding: 0 5px;
} */

.THIS .slds-form-element__legend {
        width: 100%;
}


.THIS .notShowPicklist {
    display: none;
}

.THIS .slds-form_stacked .slds-form-element .slds-checkbox {
    display: inline-block;
}

.THIS .input-no-label {
	margin-top: 17.6px;
}

/*
.THIS .datePicker-openIcon {
	position: absolute;
    margin: 9px -25px;
    left: auto;
}
*/

.THIS .privacy-police {
    margin: 50px auto;
}

.THIS .privacy-police-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px !important;
}

.THIS .footer-privacy-police {
    margin-top: 25px;
}

.THIS .text-privacy-checkbox {
    margin-left: 35px;
}

.THIS .border-bottom {
    border-bottom: 1px solid darkgray;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.THIS .signature-component {
  text-align: left;
  display: inline-block;
  max-width: 100%;
}
.THIS .signature-component canvas {
  display: block;
  position: relative;
  border: 1px solid;
}
.THIS .signature-component img {
  position: absolute;
  left: 0;
  top: 0;
}

.THIS ::placeholder { /* Most modern browsers support this now. */
    color: #787878;
    opacity: 0.5;
}

.THIS .align {
    text-align: right;
}

.THIS canvas {
    background-image: url(/resource/sPad_line);
    background-size: contain; 
    background-repeat: no-repeat;
    border: 1px dashed #000000;
    background-position: right 0 bottom 20px;
    padding: 2px;
    height: 200px;
    z-index: 10000;
}

.THIS .canvas_spad {
    margin: 5px;
}

.THIS .margin-cn {
    margin-bottom: 10px;
}

.THIS.text-update {
    position: absolute;
    left: 0;
    top: 0;
}

@media (max-width: 400px) { 
	.THIS canvas {
    	background-position: right 0 bottom 60px;
	}
}

.THIS .button-registration {
    margin: 50px auto 0;
}

.THIS input.error, .THIS select.error {
    background-color: rgb(255, 255, 255);
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;
}

.THIS .uiInputDefaultError {
    display: none;
}

.THIS .changeMe {
	border: 1.5px solid rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}

.THIS .changeMeLabel {
    color: rgb(194, 57, 52);
    font-weight: bold;
}

.THIS .language-picker {
    margin-top: -95px;
}

.THIS .uiOutputRichText {
    font-size: 12px;
}

/*
.THIS .prova::after {
    content: none !important;
}
*/
/*
.THIS .slds-modal__container {
    position: relative;
    width: 75%;
    max-width: none; 
    margin: auto;
    margin-top: 50px;
    height: 85%;
}
*/
@media (min-width: 1024px) {
  
    .THIS .canvasWidth {
        width: 50%;
    }
  
}

.THIS .slds-modal__container {
    margin: 0 auto;
    width: 90%;
    max-width: 1024px;
}

.THIS .padding {
    padding: 10px;
}

.THIS .privacy {
    display: none;
}

.THIS .text-rich-privacy {
    text-align: justify;
    text-justify: inter-word;
    font-size: 8px;
}

.THIS legend.slds-form-element__legend.slds-form-element__label {
    margin-bottom: 8px;
}

.THIS .text-bold {
    font-weight: bold;
}

.THIS .text-bold span.slds-form-element__label {
    font-size: 16px;
}

.THIS .slds-form-element {
    margin-bottom: 0;
}
.THIS .expandSection{
    transform: rotate(270deg);
}


/* MC- */
.THIS .firstSelectOption {
    color: #787878;
    opacity: 0.2;
    visibility: visible;
}
.THIS .slds-dropdown_fluid, .THIS.slds-dropdown--fluid {
    min-width: var(--lwc-sizeXSmall,12rem);
    /* max-width: 100%; */
    width: 100%;
}

/* 2019/12/10  VS */
.THIS .slds-select {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 219, 221);
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    -webkit-appearance: none;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (3px * 2));
}

.THIS .scrollerSize{
    min-height: 33px;
    max-height: 300px;
} 
.THIS .slds-dropdown {
    position: absolute;
    z-index: var(--lwc-zIndexDropdown,7000);
    left: 50%;
    float: left;
    min-width: var(--lwc-sizeXxSmall,6rem);
    max-width: 600px;
    margin-top: var(--lwc-spacingXxxSmall,0.125rem);
    margin-bottom: var(--lwc-spacingXxxSmall,0.125rem);
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
    padding: var(--lwc-spacingXxSmall,0.25rem) 0;
    font-size: var(--lwc-fontSize2,0.75rem);
    background: var(--lwc-colorBackgroundAlt,rgb(255, 255, 255));
    box-shadow: var(--lwc-shadowDropDown,0 2px 3px 0 rgba(0, 0, 0, 0.16));
    transform: translateX(-50%);
}

.THIS .button-custom{
    padding-left: 12px;
}

.THIS .left1{
    width: 520px;
}

.THIS .left2 {
    /* left: 23%!important; */
    width: 385px;
}
.THIS .left3{
    /* left: 23%!important; */
    width: 385px;
}

.THIS .hideBTN{
    display: none;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
	/* STYLES GO HERE */
	/* .THIS .slds-select[size], .THIS .slds-select[multiple] {
        min-height: calc(var(--lwc-heightInput,1.875rem) + (7px * 4));
		height: inherit;
    } */
    /* .THIS .slds-select {
        background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));
        border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorderInput,rgb(221, 219, 218));
        border-radius: var(--lwc-borderRadiusMedium,0.25rem);
        width: 100%;
        transition: border var(--lwc-durationQuickly,0.1s) linear,background-color var(--lwc-durationQuickly,0.1s) linear;
        height: calc(var(--lwc-heightInput,1.875rem) + (7px * 4));
    } */
}


/* calc(var(--lwc-heightInput,1.875rem) + (7px * 4)) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
	/* STYLES GO HERE */
	/* .THIS .slds-select[size], .THIS .slds-select[multiple] {
		min-height: calc(var(--lwc-heightInput,1.875rem) + (7px * 4));
		height: inherit;
    } */
    .THIS legend.slds-form-element__legend.slds-form-element__label {
        margin-bottom: -8px;
    }
    .THIS .textSizeMobile{
        font-size: 12px !important;
        margin-top: -4px;
    }

    .THIS .slds-form-element__label {
        /* overflow-wrap: break-word; */
        word-wrap: unset !important;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        display: inline-block;
        color: var(--lwc-colorTextLabel,rgb(62, 62, 60));
        font-size: var(--lwc-formLabelFontSize,0.875rem);
        padding-right: var(--lwc-spacingXSmall,0.5rem);
        padding-top: var(--lwc-spacingXxSmall,0.25rem);
        margin-bottom: var(--lwc-spacingXxxSmall,0.125rem);
    }
    .THIS .slds-select {
        background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));
        border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorderInput,rgb(221, 219, 218));
        border-radius: var(--lwc-borderRadiusMedium,0.25rem);
        width: 100%;
        transition: border var(--lwc-durationQuickly,0.1s) linear,background-color var(--lwc-durationQuickly,0.1s) linear;
        height: calc(1.875rem + (4px * 3));
    } 
    .THIS .left1{
        /* left: 37% !important; */
        width: 160px;
    }
    
    .THIS .left2{
        /* left: 37% !important; */
        width: 180px;
    }
    .THIS .left3{
        /* left: 27% !important; */
        width: 180px;
    }

}